
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body,html{
    background-color: #121212;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
#scrollTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: #117cb1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
*{
    margin: 0;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    list-style: none;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E1E1E;
    padding: 0px 10px;
}
.navbar .logo h1{
    font-size: 35px;
    font-family: 'Anton', sans-serif;
    background-color: #1E1E1E;
    color: #00A8E8;
    transition: 0.5s ease-in-out;
    animation-iteration-count: 50;
}
.navbar .logo h1:hover{
    background-color: #FFFFFF;
    padding: 0px 10px;
}
.navbar .list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar .list ul{
    display: flex;
    gap: 25px;
    list-style: none;
    margin-right: 400px;
}
.navbar .list ul li p{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
.navbar .list ul li p:hover{
    background-color: #00A8E8;
    padding: 3px 8px;
}
.navbar .list .search{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.navbar input{
    width: 180px;
    padding: 8px 5px;
    text-align:start;
    border: #FFFFFF solid 3px;
}

.navbar i{
    font-size: 30px;
    transition: .3s ease-in-out;
    display: flex;
}
.navbar  i:hover{
    background-color: #FFFFFF;
    padding: 18px 5px;
}



.carousel .carousel__item{
    position: relative;
    height: auto;
}
.carousel .carousel__item .text{
    position: absolute;
    top: 270px;
    color: #FFFFFF;
}
.carousel .carousel__item img{
    background: linear-gradient(to left,transparent, rgba(0,0,0,0.7));
    width: 100%;
    height: auto;
}
.carousel .carousel__item .text ul {
    line-height: 40px;
}
.carousel .carousel__item .text ul li a p{
    background-color: #083a4c;
    background-image: linear-gradient(225deg, #083a4c 0%, #117cb1 64%, #baddeb 100%);
    color: #FFFFFF;
    padding: 8px 20px;
    font-weight: bold;
    font-size: 22px;
    width: 150px;
    height: 25px;
    text-align: center;
    animation-iteration-count: 50;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel .carousel__item .text ul li .desc{
    display: flex;
}
.carousel .carousel__item .text ul li .desc .hd{
    padding: 0px 3px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    color: #FFC436;
}


.carousel {
    position: relative;
}
.carousel__item{
    display: none;
}
.carousel__item--selected {
    display: block;
}

.carousel__nav {
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

.carousel__button {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    background-color: #00A8E8;
}
.carousel__button:hover,.carousel__button:focus{
    background: rgba(255, 255, 255, 0.5);
}

.carousel__button--selected {
    background: rgba(255, 255, 255, 0.5);
}

.title1{
    margin: 10px;
    color: #117cb1;
    font-size: 20px;
}

.carousel1 .top_imdb .card img{
    display: block;
}

.carousel1 ul li{
    margin: 5px;
}

.wrapper{
    width: 100%;
    position: relative;
}
.wrapper i{
    top: 45%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #117cb1;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}
.wrapper i:active{
    transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
    left: 0px;
}
.wrapper i:last-child{
    right: 0px;
}

.wrapper .carousel1{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 6) - 10px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    /*overflow: hidden;*/
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.carousel1::-webkit-scrollbar {
    display: none;
}
.carousel1.no-transition {
    scroll-behavior: auto;
}
.carousel1.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.carousel1.dragging .card {
    cursor: grab;
    user-select: none;
}
.carousel1 :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel1 .card{
    scroll-snap-align: start;
    cursor: pointer;
}
.wrapper .carousel1 .card .img img{
    width: auto;
    height: 340px;
}

/*FOOTER*/
.footer{
    margin-top: 25px;
    color:#FFFFFF ;
    display: flex;
    align-items: flex-start;
    background-color: #1E1E1E;
    padding: 30px 10px;
    justify-content: space-evenly;
}
.footer .part1 ul li .description p{
    font-size: 20px;
    margin-right: 20px;
    text-align: center;
    font-size: 15px;
    padding: 5px;
}
.footer .part1 ul{
    margin-left: -70px;
}
.footer .part1 ul li p {
    font-size: 20px;
}
.footer .part1 ul li p a{
    color: #baddeb;
}
.footer .part1 .descf {
    color: #FFFFFF;
    font-size: 15px;
}
.footer .part2 {
    display: flex;
    flex-direction: row;
    gap: 35px;
}
.footer .part2 .column1 ul li a,.footer .part2 .column2 ul li a,.footer .part2 .column3 ul li a{
    color: #00A8E8;
}
.column1,.column2,.column3{
    display: flex;
    align-items: center;
}
.footer .part2 .column1 .titlef p,.footer .part2 .column2 .titlef p{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
}
.copyright{
    width: auto;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright p{
    color: #117cb1;
}
.creator{
    width: auto;
    height: 30px;
    background-color: #117cb1;
    background-image: linear-gradient(90deg, #117cb1 0%, #0c3b55 8%, #000000 50%, #0c3b55 93%, #117cb1 100%);
    border-radius: 0;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;

}
.creator p{
    color: #FFFFFF;
    font-size: 15px;
}
.creator p a{
    color: #00A8E8;
}

.navbar .menu{
    display: none;
}





@media screen and (max-width: 900px) {
    .wrapper .carousel1 {
        grid-auto-columns: calc((100% / 2) - 1px);
    }
    .wrapper .carousel1{
        display: flex;
    }
    .wrapper .carousel1 .card .img img{
        width: auto;
        height: 200px;
    }
    .title1{
        margin: 10px;
        color: #117cb1;
        font-size: 18px;
    }
    /*NAVBAR*/
    
    .navbar .menu{
        display:block;
    }
    nav{
        overflow-x: hidden;
        width: 100%;
    }

    body{
        overflow-x: hidden;
    }
    .navbar .input{
        right: 90%;
    }
    .navbar .profil{
        display: flex;
        gap: 30px;
    }
    .navbar .list ul{
        background-color: #1E1E1E;
        text-align: center;
        flex-direction: column;
        padding: 0px 50px ;
        position: absolute;
        top: -100%;
        left: 78%;
        transition: .5s ease-in-out;
        z-index: 1;
    }

    .navbar{
        width: 98%;
    }

    .navbar .list .show{
        display: block;
        top: 5%;
    }

    .navbar .list .profil {
        margin-right: 0;
    }


    .carousel .carousel__item .text {
        font-size: 10px;
    }
    .footer{
        padding: 30px 20px;
    }
    .footer .part1 ul {
    font-size: 10px;
    margin-left: -30px;
}

.footer .part1 .descf {
    color: #FFFFFF;
    font-size: 15px;
}
.footer .part2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.footer .part2 .titlef{
    color: #00A8E8;
    font-weight: bold;
    font-size: 10px;
}
.footer .part1 ul li p {
    font-size: 10px;
}
.footer .part1 ul li p a{
    color: #baddeb;
}
.footer .part1 .descf {
    color: #FFFFFF;
    font-size: 10px;
}
.footer .part2 {
    display: flex;
    flex-direction: row;
    gap: 1px;
}
.footer .part2 .titlef{
    color: #00A8E8;
    font-weight: bold;
    font-size: 15px;
}
.carousel .carousel__item .text{
    position: absolute;
    top: 50px;
    color: #FFFFFF;
    left: -20px;
}
.carousel .carousel__item img{
    background: linear-gradient(to left,transparent, rgba(0,0,0,0.7));
    width: 100%;
    height: auto;
}
.carousel .carousel__item .text ul {
    line-height: 40px;
    font-size: 17px;
}
.carousel .carousel__item .text ul li a p{
    background-color: #083a4c;
    background-image: linear-gradient(225deg, #083a4c 0%, #117cb1 64%, #baddeb 100%);
    color: #FFFFFF;
    padding: 1px 10px;
    font-weight: bold;
    font-size: 12px;
    width: 90px;
    height: 25px;
    text-align: center;
    animation-iteration-count: 50;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel .carousel__item .text ul li .desc{
    display: flex;
}
.carousel .carousel__item .text ul li .desc .hd{
    padding: 0px 3px;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color: #FFC436;
}
}

@media screen and (max-width: 600px) {
    .wrapper .carousel1 {
        grid-auto-columns: 100%;
        gap: 5px;
    }
    .wrapper .carousel1 .card .img img{
        width: auto;
        height: 200px;
    }
    .title1{
        margin: 10px;
        color: #117cb1;
        font-size: 13px;
    }
    /*width="auto" height="340"*/

    .wrapper .carousel1{
        display: flex;
    }
    /*NAVBAR*/
    
    .navbar .menu{
        display:block;
    }
    nav{
        overflow-x: hidden;
        width: 100%;
    }

    body{
        overflow-x: hidden;
    }
    .navbar .input{
        right: 90%;
    }
    .navbar .profil{
        display: flex;
        gap: 30px;
    }
    .navbar .list ul {
        position: absolute;
        font-size: 12px;
        top: 5.5%;
        width: 100px;
        padding: 1px 2px;
        left: -158%;
        gap: 1px;
        transition: .5s ease-in-out;
        z-index: 1;
    }
    .navbar .list ul li{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar .list ul li p{
        font-size: 12px;
        color: #00A8E8;
        margin-top: 10px;
        text-align: center;
        display: block;
        padding: 1px 13px;
    }
    .navbar .list .profil{
        display: flex;
        align-items: center;
    }
    .navbar .list .profil .menu i{
        padding: 15px 8px;
    }


    .navbar{
        width: 98%;
    }

    .navbar .list .show{
        display: block;
        left: 75%;
        width: 100px;
        padding: 1px 2px;
        gap: 1px;
        font-size: 12px;
    }

    .navbar .list .profil {
        margin-right: 0;
        padding: 1px 13px;
    }
    .navbar .logo h1{
        font-size: 25px;
    }
    nav{
        margin-right: 0;
    }
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 30px;
    }
    .footer .part1 ul {
    font-size: 10px;
    margin-left: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .part1 .descf {
    color: #FFFFFF;
    font-size: 10px;
}
.footer .part2 {
    display: flex;
    flex-direction: row;
}
.footer .part2 .titlef p{
    color: #00A8E8;
    font-weight: bold;
    font-size: 15px;
}
.footer .part1 ul li p {
    font-size: 15px;
}
.footer .part1 ul li p a{
    color: #baddeb;
}
.footer .part1 .descf {
    color: #FFFFFF;
    font-size: 5px;
}
.footer .part2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 13px;
    text-align: center;
}
.footer .part2 .titlef p{
    color: #00A8E8;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
.carousel .carousel__item .img{
    height: 50px;
    width: 100%
}
.carousel .carousel__item .text{
    position: absolute;
    top: 10px;
    color: #FFFFFF;
}
.carousel .carousel__item img{
    background: linear-gradient(to left,transparent, rgba(0,0,0,0.7));
    width: 100%;
    height: auto;
}
.carousel .carousel__item .text ul {
    line-height: 25px;
    font-size: 10px;
}
.carousel .carousel__item .text ul li a p{
    background-color: #083a4c;
    background-image: linear-gradient(225deg, #083a4c 0%, #117cb1 64%, #baddeb 100%);
    color: #FFFFFF;
    padding: 0px 5px;
    font-weight: bold;
    font-size: 10px;
    width: 90px;
    height: 25px;
    text-align: center;
    animation-iteration-count: 50;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel .carousel__item .text ul li .desc{
    display: flex;
}
.carousel .carousel__item .text ul li .desc .hd{
    padding: 0px 3px;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    color: #FFC436;
}
.navbar input{
    width: 100px;
    height: auto;
    padding: 0px 5px;
    text-align:start;
    border: #FFFFFF solid 3px;
}
.navbar i{
    font-size: 20px;
    transition: .3s ease-in-out;
    display: flex;
}
.navbar i:hover{
    background-color: #FFFFFF;
    padding: 10px 0px;
}
.footer .part1 ul li .description p{
    font-size: 20px;
    margin-right: 10px;
    text-align: center;
    font-size: 15px;
    padding: 5px;
}
.carousel__button {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    background-color: #00A8E8;
}
}

